<a href="https://colab.research.google.com/github/ghazalna/Falcon9-Landing-Predictor/blob/main/SQL_Notebook_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **The Spacex DataSet**

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.0/6.0 MB 19.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py) ... done
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp310-cp310-linux_x86_64.whl size=1192331 sha256=85d789e992a2df9072826f750571a7dd1a8a357f2ecb1eb66363215aba631472
  Stored in directory: /root/.cache/pip/wheels/8b/6d/9c/e1793e5a2d85b89b8c362a4f0e3def54b786bcd14923b9ff00
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.23
    Uninstalling SQLAlchemy-2.0.23:
      Successfully uninstalled SQLAlchemy-2.0.23
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
bigframes 0.15.0 requires sqlalchemy<3.0dev,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
ipython-sql 0.5.0 requires sqlalchemy>=2.0, but you have sqlalchemy 1.3.9 which is incompatible.
Successfully installed sqlalchemy-1.3.9

In [20]:
!pip install sqlalchemy==1.3.9
!pip install -q pandas==1.1.5

Requirement already satisfied: sqlalchemy==1.3.9 in /usr/local/lib/python3.10/dist-packages (1.3.9)

### **Connect to the database**

In [22]:
%load_ext google.colab.data_table

In [2]:
%load_ext sql

In [23]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [25]:
%sql sqlite:///my_data1.db

Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [26]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

In [29]:
%sql SELECT DISTINCT LaunchSite FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [30]:
cur.execute("PRAGMA table_info(SPACEXTABLE)")
table_info = cur.fetchall()
print(table_info)

[(0, 'Date', 'TEXT', 0, None, 0), (1, 'Time (UTC)', 'TEXT', 0, None, 0), (2, 'Booster_Version', 'TEXT', 0, None, 0), (3, 'Launch_Site', 'TEXT', 0, None, 0), (4, 'Payload', 'TEXT', 0, None, 0), (5, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0), (6, 'Orbit', 'TEXT', 0, None, 0), (7, 'Customer', 'TEXT', 0, None, 0), (8, 'Mission_Outcome', 'TEXT', 0, None, 0), (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [32]:
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.1.5)
Collecting pandas
  Downloading pandas-2.1.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 39.7 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 29.2 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
lida 0.0.10 requires fastapi, which is not installed.
lida 0.0.10 requires kaleido, which is not installed.
lida 0.0.10 requires python-multipart, which is not installed.
lida 0.0.10 requires uvicorn, which is not installed.
bigframes 0.15.0 requires sqlalchemy<3.0dev,>=1.4, but you have sqlalchemy 1.3.9 which is incompatible.
google-colab 1.0.0 requires pandas==1.5.3, but you have pandas 2.1.3 which is incompatible.
Successfully installed pandas-2.1.3 tzdata-2023.3

In [33]:
# Verify the existence of the table
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", con)
print(tables)

          name
0  SPACEXTABLE
1    SPACEXTBL

In [34]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [8]:
#Display the names of the unique launch sites in the space mission
%sql SELECT DISTINCT LaunchSite FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sql/magic.py", line 203, in execute
    conn.internal_connection.rollback()
AttributeError: 'Connection' object has no attribute 'rollback'

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['sqlite:///my_data1.db'])

In [35]:
#Display 5 records where launch sites begin with the string 'CCA'
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Fetch the table schema
cur.execute("PRAGMA table_info(SPACEXTBL)")
table_info = cur.fetchall()

# Display the table schema
print(table_info)

[(0, 'Date', 'TEXT', 0, None, 0), (1, 'Time (UTC)', 'TEXT', 0, None, 0), (2, 'Booster_Version', 'TEXT', 0, None, 0), (3, 'Launch_Site', 'TEXT', 0, None, 0), (4, 'Payload', 'TEXT', 0, None, 0), (5, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0), (6, 'Orbit', 'TEXT', 0, None, 0), (7, 'Customer', 'TEXT', 0, None, 0), (8, 'Mission_Outcome', 'TEXT', 0, None, 0), (9, 'Landing_Outcome', 'TEXT', 0, None, 0)]

In [36]:
# Display total payload mass carried by boosters launched by NASA (CRS)
import sqlite3

import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Fetch the table schema
cur.execute("PRAGMA table_info(SPACEXTBL)")
table_info = cur.fetchall()

# Display the column names
column_names = [info[1] for info in table_info]
print(column_names)

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

In [37]:
# Display average payload mass carried by booster version F9 v1.1
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Fetch the table schema
cur.execute("PRAGMA table_info(SPACEXTBL)")
table_info = cur.fetchall()

# Display the column names
column_names = [info[1] for info in table_info]
print(column_names)

['Date', 'Time (UTC)', 'Booster_Version', 'Launch_Site', 'Payload', 'PAYLOAD_MASS__KG_', 'Orbit', 'Customer', 'Mission_Outcome', 'Landing_Outcome']

In [39]:
# Display average payload mass carried by booster version F9 v1.1
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Run the SQL query with the correct column name
cur.execute("SELECT AVG(PAYLOAD_MASS__KG_) AS AveragePayloadMass FROM SPACEXTBL WHERE Booster_Version = 'F9 v1.1'")

# Fetch and display the result
result = cur.fetchone()
print(result)

(2928.4,)

In [40]:
# List the date when the first successful landing outcome on the ground pad was achieved
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Run the SQL query
cur.execute("SELECT MIN(Date) AS FirstSuccessfulLandingDate FROM SPACEXTBL WHERE Landing_Outcome = 'Success (ground pad)'")

# Fetch and display the result
result = cur.fetchone()
print(result)

('2015-12-22',)

In [41]:
# List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Run the SQL query with the correct column names
cur.execute("SELECT Booster_Version FROM SPACEXTBL WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000")

# Fetch and display the result
result = cur.fetchall()
print(result)

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [42]:
# List the total number of successful and failure mission outcomes
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Run the SQL query
cur.execute("SELECT Mission_Outcome, COUNT(*) AS TotalCount FROM SPACEXTBL GROUP BY Mission_Outcome")

# Fetch and display the result
result = cur.fetchall()
print(result)

[('Failure (in flight)', 1), ('Success', 98), ('Success ', 1), ('Success (payload status unclear)', 1)]

In [43]:
# List the names of the booster_versions which have carried the maximum payload mass
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Run the SQL query
cur.execute("SELECT Booster_Version FROM SPACEXTBL WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTBL)")

# Fetch and display the result
result = cur.fetchall()
print(result)

[('F9 B5 B1048.4',), ('F9 B5 B1049.4',), ('F9 B5 B1051.3',), ('F9 B5 B1056.4',), ('F9 B5 B1048.5',), ('F9 B5 B1051.4',), ('F9 B5 B1049.5',), ('F9 B5 B1060.2 ',), ('F9 B5 B1058.3 ',), ('F9 B5 B1051.6',), ('F9 B5 B1060.3',), ('F9 B5 B1049.7 ',)]

In [47]:
#List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Run the corrected SQL query
cur.execute("""
    SELECT substr(Date, 6, 2) AS Month, Landing_Outcome, Booster_Version, Launch_Site
    FROM SPACEXTBL
    WHERE substr(Date, 0, 5) = '2015' AND Landing_Outcome LIKE 'Failure%' AND Landing_Outcome IS NOT NULL
""")

# Fetch and display the result
result = cur.fetchall()
print(result)

[('01', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'), ('04', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [48]:
#Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.
import sqlite3

# Connect to the SQLite database
con = sqlite3.connect("my_data1.db")

# Create a cursor object
cur = con.cursor()

# Run the SQL query to rank the count of landing outcomes
cur.execute("""
    SELECT Landing_Outcome, COUNT(*) as Count
    FROM SPACEXTBL
    WHERE Date BETWEEN '2010-06-04' AND '2017-03-20'
    GROUP BY Landing_Outcome
    ORDER BY Count DESC
""")

# Fetch and display the result
result = cur.fetchall()
print(result)

[('No attempt', 10), ('Success (drone ship)', 5), ('Failure (drone ship)', 5), ('Success (ground pad)', 3), ('Controlled (ocean)', 3), ('Uncontrolled (ocean)', 2), ('Failure (parachute)', 2), ('Precluded (drone ship)', 1)]